@charset "UTF-8";
.navigationbar {
	display:flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 150px;
}
* {
	font-family: InfinitySans-RegularA1;
}
.moyac_logo {
/* 	width: 100%; */
	position: absolute;
	left: 50%;
	margin-left: -150px;
}
.dropdown {
	position : relative;
	width: 50px;
}


.dropbtn {
	border: 1px solid rgb(147, 207, 206);
	border-radius: 4px;
	background-color: rgb(147, 207, 206);
	font-weight: 400;
	color: white;
	padding: 12px;
	width: 50px;
	text-align: left;
	cursor: pointer;
	font-size: 12px;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1; /*다른 요소들보다 앞에 배치*/
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0);
	min-width: 150px;
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	color: rgb(37, 37, 37);
	font-size: 12px;
	padding: 12px 20px;
}

.dropdown-content a:hover {
	background-color: #ececec
}

.dropdown:hover .dropdown-content {
	display: block;
}
.welcome {
	display: flex;
	justify-content:center;
	align-items:center;
	margin-right: 5px;
	font-size: 15px;
	color: black;
	opacity: 0.5;
}